//colors

$background: #FFFFFF;
$main-background: #F5F6F8;

$accent-blue: #109CF1;
$dark-blue: #334D6E;

$table-black: #323C47;
$black: #192A3E;

$gray: #90A0B7;

$table-grey: #707683;

$button-color: #FFFFFF;
$success-color: #2ED47A;
$cancel-color: #F7685B;


//shadow
$box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);
